* {
  margin: 0;
  padding: 0;
}

.logo {
  opacity: 1;
  fill-opacity: 0;
  stroke: #fd8210;
  stroke-dasharray: none;
}

main .categories-block {
  background-color: #f7f7f7;
  margin: 15px;
}
main .categories-block a {
  display: inline-block;
  margin: 5px;
  height: 375px;
}
main .categories-block a img {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
main .categories-block div {
  display: flex;
  justify-content: space-between;
}
main .categories-block div .champion {
  flex: 3;
  position: relative;
  height: 375px;
}
main .categories-block div .category-name {
  position: absolute;
  top: 5%;
  left: 5%;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
main .categories-block div .sport-goods {
  flex: 1;
  position: relative;
  height: 100%;
}
main .categories-block div .forwards, main .categories-block div .defenders {
  position: relative;
  height: 100%;
  flex: 1;
}
main .guarantees-block {
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100vw;
}
main h2 {
  margin-top: 0;
  font-weight: bold;
  font-size: 24px;
}
main .guarantees-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .guarantee-block {
  position: relative;
  width: 15vw;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}
main .guarantee-block img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
  fill: orange;
  stroke: orange;
}
main .guarantee-block h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
main .guarantee-block p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}
main .recommended-block {
  display: flex;
  overflow-x: auto;
}
main .recommended-block a {
  text-decoration: none;
  color: #000;
}
main .recommended-block .card {
  width: 290px;
  height: 380px;
  border: 1px solid #ccc;
  margin-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .recommended-block .card img {
  width: 290px;
  height: 250px;
}
main .recommended-block .card h3 {
  margin: 10px 0;
}
main .recommended-block .card p {
  margin: 0;
  font-size: 24px;
}
main .recommended-block .card small {
  font-size: 14px;
  color: #666;
}

header {
  width: 100wv;
  padding: 12px;
}
header div:nth-child(2) {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div:nth-child(2) div {
  flex: 1;
}
header div:nth-child(2) nav {
  flex: 1;
}
header div:nth-child(2) nav a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
}
header div:nth-child(2) a img {
  flex: 1;
  width: 28px;
  height: 28px;
}
header h2 {
  color: white;
  size: 21px;
  color: white;
  width: 85vw;
  height: 50px;
  text-align: center;
  background-color: #0007A7;
}

footer {
  width: 85vw;
  height: 160px;
  padding: 50px;
  background-color: #0007A7;
}
footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
footer div {
  width: -moz-fit-content;
  width: fit-content;
}
footer span {
  display: block;
}
footer div:has(span) {
  color: white;
}
footer a {
  display: inline-block;
  width: 28px;
  height: 28px;
}
footer a:hover {
  filter: brightness(1.2);
}
footer a img {
  width: 100%;
  height: 100%;
  fill: #fff;
}
footer > div > div {
  display: inline-block;
  align-self: top;
}/*# sourceMappingURL=vse.css.map */