@import "_variables"
header

    width: 100wv
    padding: 12px
    

    div:nth-child(2)

        height: 80px
        display: flex
        justify-content: space-between
        align-items: center


        div
            flex:1
        
        nav
            flex:1
            li
                display: inline-block
                .nav-submenu
                    z-index: 2
                    position: absolute
                    display: none
                    .nav-submenu-link
                        display: block
                        margin: 0

                .nav-item:hover 
                    .nav-submenu
                        display: block
            a
                color: black
                text-decoration: none
                margin: 0 20px
        
        a
            img
                flex:1
                width: 28px
                height: 28px
       
    h2
        color: white
        size: $sizeSlogan
        color: white
        width: 100vw
        height: 50px
        text-align: center
        background-color: $blue
            
        