header
    width:100%
    img
        width: 27px
        height: 27px
    
    a:has(img)
        display: none

    div:has(h2)
        display: none        
    
    div:nth-child(2)
        display: flex
        align-items: center
        box-sizing: border-box
        div

            padding: 30px 0 30px 30px
            flex: 5
            
    
    #nav
        flex: 1
        div
            display: none
        .desk
            display: none
        ul
            position: fixed
            list-style: none
            z-index: 3
            left:-55vw
            width: 45vw
            background-color: $black
            padding: 2vh
            top: -1vh
            height: 100vh
            line-height: 2em
            transition: left 0.3s ease-in-out
            

                    
            
            a
                text-decoration: none
                color: $lightgrey
                font-size: x-large
                display: block
            

                    


    #burger-toggle
        display: none

        &+label
            cursor: pointer

            
            span
                display: block
                width: 30px
                height: 5px
                background-color: $black
                margin-bottom: 5px
        &:checked
            &~ul    
                left: -2vw
                transition: left 0.3s ease-in-out
                
                
                

